@import '../common/variables.css';

tr {
    border-bottom: 1px solid #ccc;
    & td {
        text-align: center;
        padding: var(--padding-md) 0;
    },
    & td:last-child {
        color: #ec741c;
        font-size: 12px;
        font-family: "Open Sans", sans-serif;
        font-style: italic;
    }

}
