@import '../common/variables.css';

.wrap {
    width: 80%;
    margin: 60px auto;
    & .title {
        color: green;
        font-size: var(--font-lg);
        border-bottom: 2px solid var(--grey-light);
        padding-bottom: var(--margin-xs);
    }
    & .mainList {
        width: 100%;
        margin-bottom: 10px;
        & .listTable {
            border-collapse: collapse;
            width: 100%;
            & thead {
                background-color: var(--table-title-bg);
                color: var(--table-title-color);
                & th {
                    text-align: center;
                    border-bottom: 2px solid #ddd;
                    padding: 5px 0;
                    font-size: 16px;
                    font-weight: normal;
                }
                & .name {
                        width: 10%;
                    }
                & .age {
                    width: 10%;
                }
                & .sex {
                    width: 10%;
                }
                & .major {
                    width: 10%;
                }
                & .hobby {
                    width: 30%;
                }
                & .profile {
                    width: 30%
                }
            }
        }
    }
}