@import '../common/variables.css';

.wrap {
    width: 60%;
    margin: 60px auto;
    & .title {
        color: green;
        font-size: var(--font-lg);
        border-bottom: 2px solid var(--grey-light);
        padding-bottom: var(--margin-xs);
    }
}